*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }


  .input{
    margin: 20px 0px;
    height: 48px;
    font-size: 24px;
    padding: 10px;
    width: 300px;
    border-radius: 14px;
  
  }
  
.flex-row{
    display: flex;
    gap: 12px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.Main-card {
     
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    width: 300px;
    background: rgb(95, 135, 160);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    color: black;
    border-radius: 14px;
}
.flex-row div {
  background-color: darkslategray ;
  padding:10px 20px;
  cursor: pointer;
 
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}